<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}"> <!-- Link to dashboard CSS -->
    

</head>

<body>

    <!-- Full-screen NLP Image Section -->
    <div class="dashboard-container">
        <div class="overlay"></div>
        <div class="content">
            <h1>Welcome to Contextually important text tracing and aggregation website</h1>
            <p>Leverage cutting-edge NLP technology to extract key information, summarize large texts efficiently, and make data-driven
            decisions faster than ever before.</p>
            <a href="{{ url_for('index') }}" class="button">Start Summarizing</a>
        </div>
    </div>

     <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- Link to JavaScript -->

</body>

</html>